$colorFirst: #0B4141;
$colorSecond: #FFCCBC;

// Mixins
@mixin textsize ($f, $h, $w){
    font-size: $f;
    line-height: $h;
    font-weight: $w;
}
// Mixins end

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
}


.open {
    display: flex !important;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;

    background-color: $colorSecond;
    padding: 0 40px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav {
        display: flex;
        width: 700px;
        padding: 0 20px;
    }
    .nav ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: end;
        align-items: center;
        li {
            padding: 0 25px;
        }
        a {
            text-decoration: none;
            color: $colorFirst;
            font-size: 16px;
        }
        li:last-child {
            a {
                text-decoration: none;
                color: $colorSecond;
            }
            background-color: $colorFirst;
            padding: 12px 18px;
            border-radius: 124px;
            margin-right: 10px;
            transition: 0.8s;
            &:hover {
                transition: 0.8s;
                transform: scale(1.1);
            }
        }
    }

    .burger {
        // display: flex;
        display: none;
        position: relative;
        z-index: 50;
        align-items: center;
        justify-content: end;
        width: 30px;
        height: 18px;

        span {
            height: 2px;
            width: 100%;
            transform: scale(1);
            background-color: #0B4141;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: #0B4141;
            transition: all 0.3s ease 0s;

        }

        &::before {
            top: 0;

        }

        &::after {
            bottom: 0;
        }
    }

    .burger.active span {
        transform: scale(0);
    }

    .burger.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .burger.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

}

.banner {
    min-height: 900px;
    position: relative;
    background-color: rgba(245, 245, 245, 0.6);
    .description {
        & h1,
        p:first-of-type {
            @include textsize(120px,128px,400 );
            font-family: 'Alfa Slab One',sans-serif;
            color: #FFCCBC;  
            
        }
        & p:last-of-type {
            @include textsize(120px,128px,400 );
            font-family: 'Alfa Slab One',sans-serif;
            color: #0B4141;
           
        }
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: translate(0, -50%);
        text-align: center;
        z-index: 1;
    }
    .hero {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -50px;
    }

    .confetti{
        width: 100%;
        position: absolute;
        bottom: -70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        img{
            width: 50px;
            animation: confetti 7s linear infinite  ;
        }
        
        & img:nth-child(1){
           animation-delay: 2s;
        }

        & img:nth-child(2){
            animation-delay: 1s;
         }

         & img:nth-child(3){
            animation-delay: 3s;
         }
         
         & img:nth-child(4){
            animation-delay: 4.5s;
         }
         
         & img:nth-child(5){
            animation-delay: 3s;
         }

    }

    @keyframes confetti {
        0%{
            transform: translateY(0);
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        70%{
            opacity: 1;
        }
        100%{
            transform: translateY(-90vh);
            opacity: 0;
        }
    }

}

.toward {
    min-height: 800px;
    background-color: #FFCCBC;
    position: relative;

    .description {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin: 0 auto;
        transform: translate(0, -50%);
        z-index: 1;
        color: #FFFFFF;
        text-align: center;
        h2 {
            @include textsize(80px,96px,400);
            // font-family: 'Motter Corpus Std';
            font-family: 'Alfa Slab One', sans-serif;
        }
        p:nth-child(3),
        p:nth-child(4) {
             @include textsize(24px,32px,400);
        }
        p:nth-child(3) {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        p:nth-child(4) span {
            font-weight: 800;
        }
    }
    .pictures {
        filter: blur(4px);

        img:nth-child(1) {
            position: absolute;
            width: 143px;
            height: 254px;
            top: 32px;
            // left:100px;
            left: 7%;
            transform: rotate(-11deg);
        }

        img:nth-child(2) {
            position: absolute;
            width: 228px;
            height: 405px;
            top: 400px;
            // left:26px;
            left: 1.8%;
        }

        img:nth-child(3) {
            position: absolute;
            top: 363px;
            // left:430px; 
            left: 29.9%;
        }

        img:nth-child(4) {
            position: absolute;
            top: 36px;
            // left:517px; 
            left: 35.9%;
        }

        img:nth-child(5) {
            position: absolute;
            top: 548px;
            // left:752px; 
            left: 52.2%;
        }

        img:nth-child(6) {
            position: absolute;
            top: 32px;
            left: 1190px;
            // left: 82.63%;   
        }

        img:nth-child(7) {
            position: absolute;
            top: 233px;
            // left:1031px;  
            left: 71.59%;
        }

        img:nth-child(8) {
            position: absolute;
            top: 418px;
            // left:1252px;
            left: 86.94%;
        }
    }
}

.choose {
    min-height: 800px;
    background-color: $colorFirst;
    display: grid;
    padding: 40px;
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        height: 100%;
        .grid_item1 {
            align-self: center;
            color: $colorSecond;
            padding-right: 96px/1440px *100%;
            // padding-right: 8.6%;
            h3 {
                @include textsize(68px,72px,900);   
            }
            p {
                @include textsize(24px,32px, 400);
                margin-top: 32px;
                margin-bottom: 48px;
            }
            a {
                text-decoration: none;
                font-size: 18px;
                font-weight: 700;
                color: $colorSecond;
            }
            button {
                padding: 12px 34px;
                border: 1px solid $colorSecond;
                border-radius: 100px;
                background-color: $colorFirst;
                transition: 0.8s;
                &:hover {
                    transition: 0.8s;
                    transform: scale(1.1);
                }
            }
        }
        .grid_item2 {
            align-self: end;
        }
    }

}

.always {
    min-height: 1288px;
    background-color: rgba(245, 245, 245, 0.6);
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 40px;
        align-items: center;
        padding: 40px;
        .grid_item1 {
            justify-content: center;
            text-align: center;
            padding-right: 50px;
        }
        .grid_item2 {
            @include textsize(24px,32px, 400);
            color: $colorFirst;
            padding-left: 50px;
            img {
               float: left;
               margin-right: 10px;
            }
            h3 {
                @include textsize(68px,72px,900);
                color: $colorSecond;
                margin-bottom: 32px;
            }
            p {
                margin-bottom: 32px;
            }
            a {
                text-decoration: none;
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
                color: $colorFirst;
            }
        }
        .grid_item3 {
            @include textsize(24px,32px, 400);
            color: $colorFirst;
            padding-right: 50px;
            h3 {
                @include textsize(68px,72px,900);
                color: $colorFirst;
                margin-bottom: 32px;
            }
        }
        .grid_item4 {
            justify-content: center;
            text-align: center;
            padding-left: 50px;

        }
    }
}

.magic {
    min-height: 832px;   
    margin-bottom: 32px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.6);
    position: relative;
    .description {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 35%;
        transform: translate(0, -50%);
        z-index: 1;
        text-align: center;
        @include textsize(24px,32px, 400);
        color: $colorFirst;
        // max-width: 890px/1440px * 100%;
        h2 {
            @include textsize(80px,96px,400);
            font-family: 'Alfa Slab One', sans-serif;
            color: $colorSecond;
        }
        p {
            padding: 24px 19%;
            span {
                font-weight: 800;
            }
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        img {
            height: 332px;
        }
    }
}

.talk_about {
    min-height: 1200px;
    background: linear-gradient(to bottom, #ffccbc 50%, #ffffff 100%);
    text-align: center;
    display: grid;
    justify-content: center;
    h3 {
        @include textsize(68px,72px,900);
        color: #FFFFFF;
        padding: 64px 0;
    }
    .grid_wrapper {
        max-width: 960px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        .grid_item1,
        .grid_item2 {
            height: 100%;
            display: grid;
            grid-template-rows: repeat(4, auto);
            gap: 16px;
            text-align: left;
        }
        .card {
            border-radius: 8px;
            background-color: #FFFFFF;
            padding: 20px;
            p {
                @include textsize(13px,17.7px,400);
                color: $colorFirst;
            }
            .name {
                display: grid;
                grid-template-columns: 30% 70%;
                align-items: center;
                padding: 20px 0 0 0;
                p {
                    @include textsize(14px,16.41px,400);
                    font-family: 'Roboto', sans-serif;
                    span {
                        font-weight: 700;
                    }
                }
            }

        }
        .grid_item3 {
            display: grid;
            grid-template-rows: repeat(2, auto);
            gap: 20px;
            text-align: left;
            align-self: start;
        }
    }
}

.each_detail {
    min-height: 700px;
    background-color: rgba(245, 245, 245, 0.6);
    display: grid;
    padding: 40px;
    margin-bottom: 96px;
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        height: 100%;
        .grid_item1 {
            position: relative;
            img {
                object-fit: contain;
            }
            img:nth-child(1) {
                margin-top: 16px;
                margin-bottom: 88px;
            }
            img:nth-child(3) {
                position: absolute;
                // top:280px;
                // left: 330px;
                top: 40%;
                left: 58%;
                z-index: 1;
            }
        }
        .grid_item2 {
            align-self: center;
            padding-left: 11%;
            padding-right: 11%;
            color: $colorFirst;
            h3 {
                @include textsize(68px,72px,900);
            }
            p {
                @include textsize(24px,32px,400);
                margin-top: 32px;
                margin-bottom: 48px;
            }
            a {
                text-decoration: none;
                color: $colorFirst;
                font-size: 18px;
                font-weight: 700;
            }
            button {
                padding: 12px 34px;
                border: 1px solid $colorFirst;
                border-radius: 100px;
                transition: 0.8s;
                &:hover {
                    transition: 0.8s;
                    transform: scale(1.1);
                }
            }
        }
    }

}

.unicorn_exist {
    min-height: 728px;
    background-color: rgba(245, 245, 245, 0.6);
    display: grid;
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        height: 100%;
    }
    .grid_item1 {
        align-self: center;
        align-items: center;
        padding-left: 11%;
        color: $colorFirst;
        img {
            margin: 0 auto;
        }
        h3 {
            @include textsize(68px,72px,900);
            margin-top: 32px;
        }
        p {
            @include textsize(24px,32px,400);
            margin-top: 32px;
            margin-bottom: 48px;
        }
        a {
            text-decoration: none;
            color: $colorFirst;
            font-size: 18px;
            font-weight: 700;
        }

        button {
            padding: 12px 34px;
            border: 1px solid $colorFirst;
            border-radius: 100px;
            transition: 0.8s;
        &:hover {
            transition: 0.8s;
            transform: scale(1.1);
        }
        }
    }

    .grid_item2 {
        align-self: end;
    }
}

.footer {
    min-height: 800px;
    background-color: $colorFirst;
    position: relative;
    h2 {
        @include textsize(80px,96px,400);
        // font-family: 'Motter Corpus Std';
        font-family: 'Alfa Slab One',sans-serif;
        color: $colorSecond;
    }

    .description {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0  auto;
        transform: translate(0, -50%);
        top: 50%;
        text-align: center;
        z-index: 1;

    .btn_group {
        display: flex;
        justify-content: center;
        margin-top: 48px;
    }
    .button {
        display: flex;
        align-items: center;
        transition: 0.8s;
        &:hover {
            transition: 0.8s;
            transform: scale(1.1);
        }
        img {
            margin-right: 12px;
        }
        width: 264px;
        height: 82px;
        margin: 0 20px;
        padding: 21px 40px;
        border-top: 1px solid $colorSecond;
        border-left:1px solid $colorSecond;
        border-right:1px solid $colorSecond;
        border-radius: 300px;
    }
    a {
        text-decoration: none;
        color: $colorSecond;
        font-size: 18px;
        font-weight: 700;
    }     
        
    }
    
    .cornelia{
        position: absolute;
        bottom:100px;
        left: 3%;
        color: $colorSecond;
        p:first-child{
            @include textsize(20px,24px,400);
            font-family: 'Alfa Slab One',sans-serif;     
        }
        p:last-child{
            @include textsize(16px,21.82px,600);
        }
    }
}


@media (max-width: 900px) {
    .menu {
        .burger {
            display: flex;
        }

        .nav {
            // display: flex;
            display: none;
            flex-direction: column;
            position: fixed;
            height: 300px;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 50;
            overflow-y: auto;
            padding: 40px 50px;
            background-color: #FFCCBC;
        }

        .nav ul {
            display: flex;
            flex-direction: column;
            align-items: start;
            grid-row-gap: 30px;
        }
    }
    .banner{
        .description {
            & h1,
            p:first-of-type,
            p:last-of-type {
                @include textsize(80px,96px,400);   
            }   
        }
    }
    .magic{
    .description{
            h2 {
                @include textsize(68px,72px,400);
            }
        }
        .description{
            p {
                padding: 24px 10%;
            }
        }
    }
   .each_detail {
        .grid {
            img:nth-child(3) {
                display: none;  
            }
        }      
   }
}

@media (max-width: 768px){
    .choose{
        .grid{
            grid-template-columns: 1fr;
        }
    }
    .always{
        .grid{
            grid-template-columns: 1fr;
            .grid_item1 { 
                padding-right: 0;
                margin: 0 auto;
            }
             .grid_item2 {  
                padding-left: 0;          
            }
            .grid_item3 {  
                padding-right: 0;   
            }
            .grid_item4 {  
                padding-left: 0px;
                margin: 0 auto;
            }
        }   
    }
    .magic{
         .grid {
            img {
                height: 232px;
            }
        }
    }
  
    .each_detail {
        .grid{
            grid-template-columns: 1fr;
            .grid_item1{
               margin: 0 auto;
            }
        }   
    }
    .unicorn_exist{
        .grid{
            grid-template-columns: 1fr;
            .grid_item1 {
                align-self: start; 
                padding: 0 11%;    
            }
        }
    }
    .footer {
        h2 {
            @include textsize(68px,72px,400);
        }
        .btn_group {
            flex-direction: column;
            gap: 40px;
            align-items: center;
        }   
    }
}
@media (max-width: 576px){
    .banner{
        min-height: 600px;
        .description {
            & h1,
            p:first-of-type {
                @include textsize(48px,72px,400);  
            }
            & p:last-of-type {
                @include textsize(48px,72px,400);   
            }
        }

    }
    .toward{
        .description {
            padding: 15px;
            h2 {
                @include textsize(48px,72px,400); 
            }
            p:nth-child(3),
            p:nth-child(4) {
                 @include textsize(24px,32px,400);
            }
            p:nth-child(3) {
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
    }
    .choose{
        padding: 15px;
        .grid {
            .grid_item1 {
                padding-right: 0;
                h3 {
                    @include textsize(48px,72px,400); 
                }
            }
         
        }
    }
    .always{
        padding: 15px;
        .grid {
            padding: 0;
            .grid_item1{
                img{
                    width: 80%;
                    margin: 0 auto;
                }
            }
            .grid_item2 {
                h3 {
                    @include textsize(48px,72px,400); 
                } 
            }
            .grid_item3 {
                               
                h3 {
                    @include textsize(48px,72px,400);   
                }
            }
            .grid_item4 {
                img{
                    width: 80%;
                    margin: 0 auto;
                }
    
            }
        }
    }
    .magic{
        min-height: 632px;
        padding: 15px;
        .description {
            top: 50%;
            h2 {
                @include textsize(48px,72px,400); 
            }
            p {
                padding:0;
            }
        }
        .grid {
            display: none;
        }

    }

    .talk_about{
        h3 {
            @include textsize(48px,72px,400); 
        }
        .grid{
            grid-template-columns: 1fr;
        }
    }

    .each_detail{
        padding: 15px;
        .grid{
            
            .grid_item2{
                padding: 0;
                h3 {
                    @include textsize(48px,72px,400);
                }
            }
        }
    }
    .unicorn_exist{
        padding: 15px;
        .grid{
            .grid_item1{
                padding: 0;
                h3{
                    @include textsize(48px,72px,400);
                }
            }
        }
    }

    .footer{
        h2 {
            @include textsize(48px,72px,400);
        }
        .cornelia{
            bottom: 50px;
        }
    }

}